{% extends "base.html" %}  
{% block body %}
<div id="googleMap" style="width:1000px;height:800px;"></div>
{% endblock %}
{% block scripts %}
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
  var map;
  var geocoder;

  function initialize() {
    var mapProp = {
      center:new google.maps.LatLng(56.0, 11.0),
      zoom:7,
      mapTypeId:google.maps.MapTypeId.ROADMAP,
      disableDefaultUI:true,
    };
    map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

    geocoder = new google.maps.Geocoder();
  }

  function codeAddress( address ) {
    // var address = document.getElementById("address").value;
  // geocoder.geocode( { 'address': "Algade, 9300, Danmark" }, function(results, status) {
      geocoder.geocode( { 'address': address }, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            animation: google.maps.Animation.BOUNCE
        });
        setTimeout(function(){ marker.setAnimation(null); }, 10000);

        setTimeout(function(){ marker.setMap(null); }, 60000);
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);

</script>
{% endblock %}
